html {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
}
body {
  margin: 0%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.8);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-image: url("./images/background-img2.jpg");
  background-size: cover;
  background-position: center;

  z-index: -1;
  filter: brightness(0.3); /* darken image */
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  padding-left: 150px;
  text-decoration: none;
  font-size: 58px;
  font-weight: light;
  color: #e50914;
  font-family: "Bebas Neue", sans-serif;
}
.language-selector {
  padding: 6px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 16px;
}

.language-selector2 {
  padding: 6px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  margin-top: 50px;
  margin-left: 125px;
  font-size: 16px;
  margin-bottom: 50px;
}

.netflix-button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 8px 18px;
  margin-right: 100px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0%;
}

.netflix-button:hover {
  background-color: #f6121d;
}

.tagline {
  color: white;
  text-align: center;
  font-size: 55px;
  font-family: "Netflix sans", sans-serif;
  font-weight: 900;
}

.start {
  font-family: "Netflix sans", sans-serif;
  text-align: center;
  color: white;
  font-weight: lighter;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

/* Center the container itself */
.form-container {
  max-width: 800px; /* Optional: limit width */
  margin: 40px auto 0 auto; /* top auto bottom auto = horizontal center */
}

.email-input {
  width: 500px; /* You can adjust this */
  height: 48px;
  padding: 0 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.get-started-btn {
  height: 48px;
  padding: 0 20px;
  background-color: #e50914;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ad {
  font-family: "Netflix sans", sans-serif;
  color: white;
  height: 75px;
  width: 900px;
  line-height: 0.2;
  border-radius: 25px;
  margin-top: 150px;
  margin-bottom: 10px;
  margin-left: 275px;
  padding: 2px 2px 2px 30px;
  background: linear-gradient(to right, #6f0e99, #43069e);
}
.faq-container {
  max-width: 950px;
  margin: 0 auto;
  color: white;
  font-family: "Roboto", sans-serif;
}

.faq-item {
  background-color: #2d2d2d;
  border: 4px solid black;
  height: 45px;
  cursor: pointer;
  padding: 25px;
  position: relative;
  font-size: 24px;
}

.faq-item:hover {
  color: rgb(129, 126, 126);
}

.faq-answer {
  display: none;
  background-color: #2d2d2d;
  padding: 20px;
  font-size: 24px;
  margin-bottom: none;
  padding-top: none;
}

.faq-item::after {
  content: "+";
  position: absolute;
  right: 30px;
  font-size: 35px;
  font-weight: 0;
}

.faq-item.active::after {
  content: "-";
  margin-bottom: 0;
}

.faq-item.active + .faq-answer {
  display: block;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.footer-container a {
  color: #999;
  text-decoration: underline;
  font-size: 16px;
}

.footer-container h4 {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px 30px;
  margin-top: 20px;
}

.footer-container a:hover {
  text-decoration: none;
  color: #fff;
}

.capcha {
  color: grey;
  font-family: "Netflix sans", sans-serif;
  margin-top: 10px;
  margin-left: 125px;
  margin-bottom: 70px;
  font-weight: lighter;
  font-size: 14px;
}
